@{
    ViewBag.Title = "DashboardChecker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DashboardChecker</h2>

<div class="row" style="padding-top:10px;">
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="panel panel-primary list-panel" id="list-panel" style="min-height:120px;">
                <div class="panel-body">
                    @Html.ActionLink("Outward ", "OutwardListForChecker", "Outward", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary list-panel" id="list-panel" style="min-height:120px;">
                <div class="panel-body">
                    @Html.ActionLink("Outward Return(ORE)", "OREList", "Outward", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary list-panel" id="list-panel" style="min-height:120px;">
                <div class="panel-body">
                    @Html.ActionLink("Inward ", "InwardListChecker", "Inward", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary list-panel" id="list-panel" style="min-height:120px;">
                <div class="panel-body">
                    @Html.ActionLink("Inward Return(IRE)", "IREList", "Inward", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-top:10px;">
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="panel panel-primary list-panel" id="list-panel" style="min-height:120px;">
                <div class="panel-body">
                    @Html.ActionLink("Net Settlement", "NetSettlement", "Report", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary list-panel" id="list-panel" style="min-height:120px;">
                <div class="panel-body">
                    @Html.ActionLink("Detail Settlement", "DetailSettlement", "Report", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary list-panel" id="list-panel" style="min-height:120px;">
                <div class="panel-body">
                    @Html.ActionLink("CBS Report", "CBSDetailReport", "Report", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary list-panel" id="list-panel" style="min-height:120px;">
                <div class="panel-body">
                    @Html.ActionLink("Other Reports", "CBSDetailReport", "Report", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
        </div>
    </div>
</div>