
@{
    ViewBag.Title = "OREList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OREList</h2>
<div class="panel panel-primary list-panel" id="list-panel" style="min-height:150px;" >
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <font style="font-weight:bold;font-size: 14px;"> Bank</font>
            </div>
            <div class="col-md-4">
                @Html.DropDownList("BankID", new SelectList(ViewBag.BankList, "BankID", "BankName"),"--Select--", new { @class = "select-css" })
            </div>
            <div class="col-md-1">
                <font style="font-weight:bold;font-size: 14px;">Type</font>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("TransTypeID", new SelectList(ViewBag.TrnsTypeList, "Value", "Text"), new { @class = "select-css" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <font style="font-weight:bold;font-size: 14px;">Branch</font>
            </div>
            <div class="col-md-4">
                @Html.DropDownList("BranchID", new SelectList(ViewBag.BranchList, "BranchID", "BranchName"),"--Select--", new { @class = "select-css" })
            </div>
            <div class="col-md-1">
                <font style="font-weight:bold;font-size: 14px;"> Currency</font>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("CCYCD", new SelectList(ViewBag.CCYList, "CCYCD", "CCYName"), new { @class = "select-css" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <font style="font-weight:bold;font-size: 14px;">Session</font>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("SessionID", new SelectList(ViewBag.SessionList, "Value", "Text"), new { @class = "select-css" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" type="submit" title="Show" name="btnShow">Show</button>
            </div>
        </div>
    </div>
</div>
@*<div class="row" style="text-align: center;">
    @Html.ActionLink("Start All ", "StartAllInward", "Inward", new { area = "" }, new { @class = "navbar-brand" })
</div>*@
<div class="panel panel-primary list-panel" id="list-panel" style="min-height:400px; overflow:scroll">
    <div class="panel-body" id="divOREList">
        @{
            Html.RenderAction("_ShowOREList", "Outward");
        }
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button class="btn btn-primary" type="submit" title="Generate ORE" name="btnGenerateORE" onclick="GenerateOREXML()">Generate ORE</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-warning" type="submit" title="Send To PBM" name="btnSendToPBM" onclick="SendToPBM()">Send To PBM</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" type="submit" title="Remove ORE Files" name="btnRemoveORE" onclick="CleanOREPBM()">Remove ORE Files</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
      

    });

    function GenerateOREXML() {
        var datalist = [];
        var returnCD = "";
        $.each($("input[name='ICEChk']:checked"), function () {
            datalist.push($(this).val());
        });

        if (datalist.length == 0) {
            toastr.warning("Select An Item First");
            return;
        }

        var bankId = $('#BankID').val();
        var branchId = $('#BranchID').val();
        var typeid = $('#TransTypeID').val();
        var ccy = $('#CCYCD').val();
        var session = $('#SessionID').val();

        $.ajax({
            url: '@Url.Action("GenerateOREXML", "Outward")',
            dataType: "json",
            type: "POST",
            cache: false,
            data: { trnsList: datalist},
            success: function (data) {
                if (data.IsSuccess)
                    toastr.success(data.Message);
                else
                    toastr.error(data.Message);

                $.ajax({
                    url: '@Url.Action("_ShowOREList", "Outward")',
                    dataType: "html",
                    data: { bankId: bankId, branchId: branchId, typeId: typeid, ccy: ccy, session: session },
                    type: "GET",
                    contentType: "application/json",
                    success: function (response) {
                        $('#divOREList').html(response);
                    },
                    error: function (err) {
                        toastr.error(err.responseText);
                    }
                });
                },
            error: function (xhr) {
                toastr.warning(xhr.responseText);
            }
        });
    }
    function SendToPBM() {
        var datalist = [];
        var returnCD = "";
        $.each($("input[name='ICEChk']:checked"), function () {
            datalist.push($(this).val());
        });

        if (datalist.length == 0) {
            toastr.warning("Select An Item First");
            return;
        }

        var bankId = $('#BankID').val();
        var branchId = $('#BranchID').val();
        var typeid = $('#TransTypeID').val();
        var ccy = $('#CCYCD').val();
        var session = $('#SessionID').val();

        $.ajax({
            url: '@Url.Action("SendToPBM", "Outward")',
            dataType: "json",
            type: "POST",
            cache: false,
            data: { trnsList: datalist },
            success: function (data) {
                if (data.IsSuccess)
                    toastr.success(data.Message);
                else
                    toastr.error(data.Message);

                $.ajax({
                    url: '@Url.Action("_ShowOREList", "Outward")',
                    dataType: "html",
                    data: { bankId: bankId, branchId: branchId, typeId: typeid, ccy: ccy, session: session },
                    type: "GET",
                    contentType: "application/json",
                    success: function (response) {
                        $('#divOREList').html(response);
                    },
                    error: function (err) {
                        toastr.error(err.responseText);
                    }
                });
            },
            error: function (xhr) {
                toastr.warning(xhr.responseText);
            }
        });
    }
    function CleanOREPBM() {
        var datalist = [];
        var returnCD = "";
        $.each($("input[name='ICEChk']:checked"), function () {
            datalist.push($(this).val());
        });

        if (datalist.length == 0)
        {
            toastr.warning("Select An Item First");
            return;
        }

        var bankId = $('#BankID').val();
        var branchId = $('#BranchID').val();
        var typeid = $('#TransTypeID').val();
        var ccy = $('#CCYCD').val();
        var session = $('#SessionID').val();

        $.ajax({
            url: '@Url.Action("CleanOREPBM", "Outward")',
            dataType: "json",
            type: "POST",
            cache: false,
            data: { trnsList: datalist },
            success: function (data) {
                if (data.IsSuccess)
                    toastr.success(data.Message);
                else
                    toastr.error(data.Message);

                $.ajax({
                    url: '@Url.Action("_ShowOREList", "Outward")',
                    dataType: "html",
                    data: { bankId: bankId, branchId: branchId, typeId: typeid, ccy: ccy, session: session },
                    type: "GET",
                    contentType: "application/json",
                    success: function (response) {
                        $('#divOREList').html(response);
                    },
                    error: function (err) {
                        toastr.error(err.responseText);
                    }
                });
            },
            error: function (xhr) {
                toastr.warning(xhr.responseText);
            }
        });
    }
</script>
<style>
    .navbar-brand {
        float: none;
    }
</style>
