@model IEnumerable<EFTN.Models.InwardSessionWiseList>

<div class="panel-heading">
    <div style="text-align:center;font-weight:bolder;border-bottom:dashed;">Inward Session Wise List</div>
    <div>
        <table id="tblInwardSessionWiseListHeader" style="width:100%">
            <tr>
                <td style="width:40%;">
                    Session
                </td>
                <td style="width:15%;text-align:center;">
                    Maker
                </td>
                <td style="width:15%;text-align:center;">
                    Checker
                </td>
                <td style="width:15%;text-align:center;">
                    Admin
                </td>
                <td style="width:15%;text-align:center;">
                    ORE
                </td>
            </tr>

            </table>
</div>
</div>
<div class="panel-body" style="overflow-y:scroll;height:100px;">

    <table id="tblInwardSessionWiseList" class="table table-striped table-bordered" style="width:100%">
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.SessionID)
                </td>*@
                <td style="width:40%;text-align:center;">
                    @Html.ActionLink(item.SessionDesc, "SessionWiseInwardList", "Inward", new { SessionID = item.SessionID }, null)
                </td>
                <td style="width:15%;text-align:center;">
                    @Html.DisplayFor(modelItem => item.MakerCnt)
                </td>
                <td style="width:15%;text-align:center;">
                    @Html.DisplayFor(modelItem => item.CheckerCnt)
                </td>
                <td style="width:15%;text-align:center;">
                    @Html.DisplayFor(modelItem => item.AdminCnt)
                </td>
                <td style="width:15%;text-align:center;">
                    @Html.DisplayFor(modelItem => item.ORECnt)
                </td>
            </tr>
        }

    </table>
    </div>
<div class="panel-footer">
    <table id="tblOCECCYWiseListFooter" style="width:100%; ">
        <tr>
            <th style="width:40%;text-align:center;">
                <font style="font-weight:bold;color:green;">Total</font>
            </th>
            <th style="width:15%;text-align:center;">
                <font style="font-weight:bold;color:green;">@Model.Sum(x=>x.MakerCnt)</font>
            </th>
            <th style="width:15%;text-align:center;">
                <font style="font-weight:bold;color:green;">@Model.Sum(x => x.CheckerCnt)</font>
            </th>
            <th style="width:15%;text-align:center;">
                <font style="font-weight:bold;color:green;">@Model.Sum(x => x.AdminCnt)</font>
            </th>
            <th style="width:15%;text-align:center;">
                <font style="font-weight:bold;color:green;">@Model.Sum(x => x.ORECnt)</font>
            </th>
        </tr>
    </table>

</div>
