@model EFTN.Models.InwardTransactionInfoDetail

<div>
    <h4>Instrument Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EDRID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDRID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DFIAccountNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DFIAccountNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CBSAccountNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CBSAccountNo)
        </dd>

    </dl>
</div>

